body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4a5287;
    color: white;
    text-align: center;
    padding: 1em 0;
}
.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: white;
    width: 250px;
	height: 250px;
    position: relative;
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.carousel img {
    width: 100%;
    flex-shrink: 0;
	margin-right: 50px;
}
.button {
    background-color: #4a5287;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    z-index: 1;
    position: relative;
}
.button.left {
    left: 0;
}
.button.right {
    right: 0;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #4a5287;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
